# 201-300
## 201-210

In [5]:
#201
def print_coin():
    print('비트코인')

In [6]:
#202
def print_coin():
    print('비트코인')
print_coin()

비트코인

In [7]:
#203
def print_coin():
    print('비트코인')
for i in range(100): #i: 반복을 제어하는 변수, range: 범위 내 숫자 순서대로 생성
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [8]:
#204
def print_coins():
    for i in range(100):
        print('비트코인')

In [9]:
#205
hello()
def hello():
    print("Hi")
#함수 정의를 먼저 하고, 이후에 호출해야 함

NameError: name 'hello' is not defined

In [11]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message() #AB->C->AB순 출력

A
B
C
A
B

In [14]:
#207
print("A")

def message() :
    print("B")

print("C")
message() #A->C->B

A
C
B

In [15]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2() #A->C->B->E->D

A
C
B
E
D

In [16]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2() #B->A

B
A

In [17]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3() #BC->BC->BC->A

B
C
B
C
B
C
A

## 211-220

In [18]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi") #안녕->Hi

안녕
Hi

In [19]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8) #7->15

7
15

In [20]:
#213
def 함수(문자열) :
    print(문자열) #문자열 할당을 안 함 (파라미터 입력해야 한다)

In [ ]:
#214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3) #문자열은 덧셈 못함

In [24]:
#215
def print_with_smile(str):
    print(str+":D")
print_with_smile('sleepy') #따옴표 까먹지 말기!

sleepy:D

In [25]:
#216
def print_with_smile(str):
    print(str+":D")
print_with_smile('안녕하세요')

안녕하세요:D

In [27]:
#217
def print_upper_price(int):
    print(int*1.3)
print_upper_price(800)

1040.0

In [28]:
#218
def print_sum(a, b):
    print(a+b)
print_sum(3, 4)

7

In [29]:
#219
def print_arithmetic_operation(a, b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
print_arithmetic_operation(3, 4)

7
-1
12
0.75

In [30]:
#220
def print_max(a, b, c) :
    max_val = 0 #최대값 알 수 없기 때문에 초기값을 0으로 설정
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

## 221-230

In [32]:
#221
def print_reverse(str):
    print(str[::-1])
print_reverse('메로나')

나로메

In [34]:
#222
def print_score(score_list): #리스트 먼저 정의
    print(sum(score_list)/len(score_list))
print_score ([1, 2, 3])

2.0

In [35]:
#223
def print_even(list):
    for a in list: #리스트 안의 원소들 조건
        if a %2 ==0:
            print(a)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [37]:
#224
def print_keys(dic):
    for keys in dic.keys(): #key 지정
        print(keys)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [40]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]} #날짜:키값, OHLC: 리스트(주식값)
def print_value_by_key(my_dict, key):
    print(my_dict[key])
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [42]:
#226
def print_5xn(line): 
    chunk_num = int(len(line) / 5) #입력 문자열을 5개씩 묶을 수 있는 청크 개수
    for x in range(chunk_num + 1) : #각 청크에 대한 반복문 실행(+1은 나누어 떨어지지 않을 때)
        print(line[x * 5: x * 5 + 5]) #각 줄에 5개 문자 출력 (0~5/5~10/...)
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [44]:
#227
def print_mxn(line,num):
    chunk_num=int(len(line)/num)
    for x in range(chunk_num +1):
        print(line[x*num:x*num+num])
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [45]:
#228
def calc_monthly_salary(annual_salary):
    monthly_salary=int(annual_salary/12)
    return monthly_salary
calc_monthly_salary(12000000) #보통 소수 버려지기 때문에 별도 처리 X

1000000

In [46]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200) #왼쪽: 100, 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [47]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200) #왼쪽:200, 오른쪽:100

왼쪽: 200
오른쪽: 100

## 231-240

In [48]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result) #함수 밖에서 접근 불가능 > return 사용해야 함

NameError: name 'result' is not defined

In [51]:
#232
def make_url(string) :
    return "www." + string + ".com"
make_url("naver")

'www.naver.com'

In [14]:
#233
def make_list(str) :
    new_list = []
    for 문자 in str :
        new_list.append(문자)
    return new_list

make_list("abcd")

['a', 'b', 'c', 'd']

In [1]:
#234
def pickup_even(items) : #item : 리스트의 각 원소
    result = [] #결과값이 숫자만 나오는 게 아닌, [] 안에 포함되도록
    for item in items : #리스트 안의 원소들 조건
        if item %2 == 0 :
            result.append(item)
    return result

pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [41]:
#234 오류
def pickup_even(items) : 
    for item in items : 
        if item %2 == 0 :
            print([item])

pickup_even([3,4,5,6,7,8]) #빈리스트를 만들어 짝수를 찾은 다음 추가후 출력해야 함

[4]
[6]
[8]

In [3]:
#235
def convert_int(str) :
    return int(str.replace(',','')) #int 함수 : 문자열을 정수로 변환

convert_int('1,234,567')

1234567

In [4]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [52]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c) #22

22

In [53]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c) #140

140

In [54]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c) #12->16

16

In [55]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c) #28

28

## 241-250

In [1]:
#241
import datetime
now=datetime.datetime.now()
print(now)

2023-12-04 17:07:13.254022

In [2]:
#242
import datetime
now=datetime.datetime.now()
print(now, type(now))

2023-12-04 17:07:55.273498 <class 'datetime.datetime'>

In [5]:
#243
import datetime
now=datetime.datetime.now() #now 변수에 현재 날짜와 시간 할당
for day in range(5,0,-1):#0은 미포함, 1일 전까지 할당
    delta=datetime.timedelta(days=day) #timedelta: 두 날짜 사이의 간격
    date=now - delta
    print(date)

2023-11-29 17:13:18.203140
2023-11-30 17:13:18.203140
2023-12-01 17:13:18.203140
2023-12-02 17:13:18.203140
2023-12-03 17:13:18.203140

In [6]:
#244
import datetime
now=datetime.datetime.now()
print(now.strftime('%H:%M:%S')) #객체를 특정 형식의 문자로 포맷팅

17:14:52

In [10]:
#245
import datetime
date='2020-05-04'
data=datetime.datetime.strptime(date,'%Y-%m-%d') #문자열을 datetime객체로 변환
print(data,type(data))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [ ]:
#246
import time
import datetime
while True:
    now=datetime.datetime.now()
    print(now)
    time.sleep(1)
    break

In [ ]:
#247

In [2]:
#248
import os
data=os.getcwd()
print(data,type(data))

C:\workspace\python\WASSUP <class 'str'>

In [8]:
#249 
import os
os.rename("C:/Users/Jiwon/OneDrive/바탕화면/practice.txt", 'C:/Users/Jiwon/OneDrive/바탕화면/practicenew.txt')

FileNotFoundError: [WinError 3] 지정된 경로를 찾을 수 없습니다: 'C:/Users/Jiwon/OneDrive/바탕화면/practice.txt' -> 'C:/Users/Jiwon/OneDrive/바탕화면/practicenew.txt'

In [6]:
#250
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(round(i,2)) #반올림 통해 소수점 2자리까지 출력(부동소수점 조절)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9

## 251-260

#251
클래스: 설계도
객체: 클래스 바탕으로 만들어진 결과

In [ ]:
#252
class Human:
    pass

In [ ]:
#253
class Human:
    pass
areum=Human()

In [1]:
#254
class Human:
    def __init__(self):
        print('응애응애')
areum=Human()

응애응애

In [12]:
#255
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
areum= Human('아름',25,'여자')
print(areum.name)

아름

In [13]:
#256
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
areum= Human('아름',25,'여자')
print(areum.age)

25

In [20]:
#257
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print('이름: {}, 나이: {}, 성별: {}'.format(self.name,self.age,self.sex))
areum=Human('조아름',25,'여자')
areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [22]:
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')
areum=Human('조아름',25,'여자')
areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [26]:
#258
class Human:
    def __init__(self, name, age, sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별:{self.sex}')
    def SetInfo(self, name, age, sex):
        self.name=name
        self.age=age
        self.sex=sex

areum=Human('불명','미상','모름')
areum.who()
areum.SetInfo('아름',25,'여자')
areum.who()

이름: 불명, 나이: 미상, 성별:모름
이름: 아름, 나이: 25, 성별:여자

In [27]:
#259
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')
    def __del__(self):
        print('나의 죽음을 알리지 마라')

areum=Human('아름', 25, '여자')
del(areum)

나의 죽음을 알리지 마라

#260
매개변수로 self를 받지 않음

## 261-270

In [28]:
#261
class Stock:
    pass

In [29]:
#262
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
삼성 = Stock('삼성전자','005930')
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [30]:
#263
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
    def set_name(self,name):
        self.name=name
a=Stock(None, None)
a.set_name('삼성전자')
print(a.name)

삼성전자

In [31]:
#264
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
    def set_code(self,code):
        self.code=code
a=Stock(None, None)
a.set_code('005930')
print(a.code)

005930

In [36]:
#265
class Stock:
    def __init__(self, name, code):
        self.name=name
        self.code=code
    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self,name):
        self.name=name
    def get_code(self,code):
        self.code=code
삼성= Stock('삼성전자','005930')
print(삼성.name, 삼성.code)

삼성전자 005930

In [37]:
#266
class Stock:
    def __init__(self,name,code,per,pbr,배당수익률):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.배당수익률=배당수익률
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code #float, int와 같은 숫자형 데이터> 특별한 유효성검사 X
    def get_name(self,name):
        self.name=name
    def get_code(self,code):
        self.code=code

In [38]:
#267
class Stock:
    def __init__(self,name,code,per,pbr,배당수익률):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.배당수익률=배당수익률
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code 
    def get_name(self,name):
        self.name=name
    def get_code(self,code):
        self.code=code
        
삼성=Stock('삼성전자','005930',15.79,1.33,2.83)
print(삼성.name)
print(삼성.code)
print(삼성.per)
print(삼성.pbr)
print(삼성.배당수익률)

삼성전자
005930
15.79
1.33
2.83

In [39]:
#268
class Stock:
    def __init__(self,name,code,per,pbr,dividend):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.dividend=dividend
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code 
    def get_name(self,name):
        self.name=name
    def get_code(self,code):
        self.code=code
    def set_per(self,per):
        self.per=per
    def set_pbr(self,pbr):
        self.pbr=pbr
    def set_dividend(self,dividend):
        self.dividend=dividend

In [41]:
#269
class Stock:
    def __init__(self,name,code,per,pbr,dividend):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.dividend=dividend
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code 
    def get_name(self,name):
        self.name=name
    def get_code(self,code):
        self.code=code
    def set_per(self,per):
        self.per=per
    def set_pbr(self,pbr):
        self.pbr=pbr
    def set_dividend(self,dividend):
        self.dividend=dividend
        
삼성=Stock('삼성전자','005930',15.79,1.33,2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [42]:
#270
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)        # i-> Stock 클래스의 객체를 바인딩하기 때문

005930 15.79
005380 8.7
066570 317.34

## 271-280

In [1]:
#271
import random #계좌번호 설정 위함

class Account:
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
kim = Account('김민수',100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
166-83-334438

In [3]:
#272
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
kim = Account('김민수',100)
print(Account.account_count)
lee=Account('이민수',1000)
print(Account.account_count)

1
2

In [4]:
#273
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
kim = Account('김민수',100)
lee=Account('이민수',1000)
kim.get_account_num()

2

In [5]:
#274
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >=1:
            self.balance += amount

In [6]:
#275
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >=1:
            self.balance += amount
            
    def withdraw(self,amount):
        if self.balance > amount:
            self.balance -= amount
            
k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [7]:
#276
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >=1:
            self.balance += amount
            
    def withdraw(self,amount):
        if self.balance > amount:
            self.balance -= amount
            
    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', f'{self.balance:,}') #문자열포맷, 천단위 포맷지정자
    
p=Account('파이썬', 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  313-75-867895
잔고:  10,000

In [9]:
#277
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.deposit_count=0
        
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >=1:
            self.balance += amount
            
            self.deposit_count += 1 #입금 횟수 증가
            if self.deposit_count %5 == 0:
                self.balance = (self.balance*1.01)
            
            
    def withdraw(self,amount):
        if self.balance > amount:
            self.balance -= amount
            
    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', f'{self.balance:,}') 
        
p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [11]:
#278
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.deposit_count=0
        
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >=1:
            self.balance += amount
            
            self.deposit_count += 1 #입금 횟수 증가
            if self.deposit_count %5 == 0:
                self.balance = (self.balance*1.01)
            
            
    def withdraw(self,amount):
        if self.balance > amount:
            self.balance -= amount
            
    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', f'{self.balance:,}') 
        
data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x0000027F9D468990>, <__main__.Account object at 0x0000027F9E1E06D0>, <__main__.Account object at 0x0000027F9D4D1DD0>]

In [13]:
#279
import random 

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.deposit_count=0
        
        self.name=name
        self.balance=balance
        self.bank='SC은행'
        
        num1=random.randint(0, 999)
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        
        Account.account_count += 1
        
    @classmethod #메서드생성
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >=1:
            self.balance += amount
            
            self.deposit_count += 1 #입금 횟수 증가
            if self.deposit_count %5 == 0:
                self.balance = (self.balance*1.01)
            
            
    def withdraw(self,amount):
        if self.balance > amount:
            self.balance -= amount
            
    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', f'{self.balance:,}') 
        
data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

for a in data:
    if a.balance >= 100000:
        a.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  877-77-305695
잔고:  10,000,000

In [14]:
#280
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

## 281-290

In [17]:
#281
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격
        
car=차(2,1000)
print(car.바퀴)
print(car.가격)

2
1000

In [18]:
#282
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격

class 자전거(차):
    pass

In [19]:
#283
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격

class 자전거(차):
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격

bicycle=자전거(2,100)
print(bicycle.가격)

100

In [20]:
#284
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        #차.__init__(self, 바퀴, 가격) > 부모클래스 호출 통한 상속
        self.구동계 = 구동계


bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

In [21]:
#285
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [22]:
#286
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차): #부모 클래스 호출
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100

In [23]:
#287
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차): #부모 클래스 호출
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    def 정보(self):
        super().정보() #객체의 정보를 출력할 필요 없음
        print('구동계 ', self.구동계)
        
bicycle = 자전차(2,100,'시마노')
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [25]:
#288
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()

자식호출

In [26]:
#289
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

자식생성

In [27]:
#290
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

## 291-300

In [30]:
#291
f=open('C:/Users/Jiwon/OneDrive/바탕 화면/매수종목1.txt', mode='w', encoding='utf-8')
f.write('005930\n')
f.write('005380\n')
f.write('035420')
f.close()

In [31]:
#292
f=open('C:/Users/Jiwon/OneDrive/바탕 화면/매수종목2.txt', mode='w', encoding='utf-8')
f.write('005930 삼성전자\n')
f.write('005380 현대차\n')
f.write('035420 NAVER')
f.close()

In [33]:
#293
import csv
f=open('C:/Users/Jiwon/OneDrive/바탕 화면/매수종목.csv', mode='w', encoding='cp949', newline='')
#newline=''는 줄바꿈 문자 처리하지 않음을 의미
writer = csv.writer(f) #writer 객체 생성
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [37]:
#294
f=open('C:/Users/Jiwon/OneDrive/바탕 화면/매수종목1.txt', encoding='utf-8')
lines = f.readlines() 

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)
    
print(codes)

f.close()

['005930', '005380', '035420']

In [38]:
#295
f=open('C:/Users/Jiwon/OneDrive/바탕 화면/매수종목2.txt', encoding='utf-8')
lines = f.readlines() #한 줄로 가져옴 > 파일 내용을 리스트로 만들 수 있다
data={} #딕셔너리
for line in lines:
    line=line.strip() #줄바꿈제거
    k, v = line.split() #공백 기준으로 문자열 나누어 키와 값 구분
    data[k] = v #쌍 출력
    
print(data)
f.close()

{}

In [39]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [40]:
#297
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v) #변환된 숫자를 new_per 리스트에 추가

print(new_per)

[10.31, 0, 8.0]

In [41]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안됨")

0으로 나누면 안됨

In [42]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [43]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("예외 없음")
    finally:
        print("완료")

10.31
예외 없음
완료
0
완료
8.0
예외 없음
완료