# 1-100
## 1-10

In [4]:
#1
print ('hello world')

hello world

In [6]:
#2
print ('Marys cosmetics')

Marys cosmetics

In [8]:
#3
print ('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [10]:
#4 
print ('C:\Windows')

C:\Windows

In [11]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\t=탭, \n = 줄바꿈

안녕하세요.
만나서		반갑습니다.

In [12]:
#6
print ("오늘은", "일요일")

오늘은 일요일

In [13]:
#7
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [14]:
#8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [15]:
#9
print('first', end=""); print('second')

firstsecond

In [17]:
#10
print(5/3)

1.6666666666666667

## 11-20

In [18]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [19]:
#12
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액)) #type: 주어진 객체의 데이터 형식 반환
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [21]:
#13
s='hello'
t='python'
print(s+'!',t) #append는 리스트 타입의 객체에서 사용

hello! python

In [22]:
#14
print(2+2*3)

8

In [26]:
#15
a = '132'
print (type(a))

<class 'str'>

In [29]:
#16
num_str = "720"
num_int = int(num_str)
print(num_int,type(num_int))

720 <class 'int'>

In [30]:
#17
num = 100
num_str = str(num)
print(num_str,type(num_str))

100 <class 'str'>

In [34]:
#18
data="15.79"
data_float=float(data)
print(data_float,type(data_float))

15.79 <class 'float'>

In [36]:
#19
year = "2020"
year_int = int(year)
print(year_int-1,year_int,year_int+1)

2019 2020 2021

In [37]:
#20
월금액 = 48584
개월수 = 36
총금액 = (월금액*개월수)
print(총금액)

1749024

## 21-30

In [40]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [43]:
#22
license_plate='24가 2210'
print(license_plate[4:8]) #4 <= license_plate < 8 이므로 2210 출력

2210

In [45]:
#23
string='홀짝홀짝홀짝'
print(string[0], string[2],string[4])

#혹은 print(string[::2]) > [start:stop:step]

홀 홀 홀

In [46]:
#24
string='PYTHON'
print(string[::-1])

NOHTYP

In [48]:
#25
phone_number='010-1111-2222'
phone_number1 = (phone_number.replace('-',' ')) #문자열은 수정 안되므로 새 문자열
print(phone_number1)

010 1111 2222

In [49]:
#26
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [51]:
#27
url = "http://sharebook.kr"
print(url[-2],url[-1])

#혹은 url_split=url.split('.'); print(url_split[-1]) > -1은 마지막 요소 반환

k r

In [52]:
#28
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
#문자열수정안됨

SyntaxError: invalid syntax (3076308587.py, line 2)

In [53]:
#29
string = 'abcdfe2a354a32a'
string_1 = (string.replace('a','A'))
print (string_1)

Abcdfe2A354A32A

In [55]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)
#string을 재정의한게 아닌, 이전 string 불러옴

abcd

## 31-40

In [57]:
#31
a = "3"
b = "4"
print(a + b)

34

In [58]:
#32
print("Hi" * 3)

HiHiHi

In [59]:
#33
print('-'*80)

--------------------------------------------------------------------------------

In [61]:
#34
t1='python'
t2='java'
t3=t1+' '+t2+' '
print(t3*4) #곱셈은 정수형과 곱해야함

python java python java python java python java

In [63]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d' % (name1,age1))
print('이름: %s 나이: %d' % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [64]:
#36
#문자열의 format 메서드: 타입과 상관없이 값이 출력될 위치에 {}
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: {} 나이: {}' .format(name1,age1))
print('이름: {} 나이: {}' .format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [65]:
#37
#f-string: 문자열 앞에f가 붙은 형태. 타입과 상관없이 값 출력 가능
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [66]:
#38
상장주식수 = "5,969,782,550"
string=상장주식수.replace(",",'')
정수=int(string)
print(정수,type(정수))

5969782550 <class 'int'>

In [67]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [73]:
#40
data = '   삼성전자   '
data1 = data.strip()
print(data1) #혹은 replace

삼성전자

## 41-50

In [74]:
#41
ticker = "btc_krw"
ticker1=ticker.upper()
print(ticker1)

BTC_KRW

In [75]:
#42
ticker = "BTC_KRW"
ticker1=ticker.lower()
print(ticker1)

btc_krw

In [77]:
#43
text='hello'
text1=text.capitalize()
print(text1)

Hello

In [78]:
#44
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [80]:
#45
file_name = "보고서.xlsx"
file_name.endswith(('xlsx','xls')) #튜플 사용(요소값 변화 없음)

True

In [81]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [84]:
#47
a = "hello world"
a.split(' ')

['hello', 'world']

In [85]:
#48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [86]:
#49
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [87]:
#50
data = "039490     "
data.rstrip()

'039490'

## 51-60

In [88]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [90]:
#52
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [91]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨") #1번위치, 0부터시작
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [92]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [94]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2] #리스트에서 없어지면 새로 인덱싱
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [96]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [97]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums))
print('min: ', min (nums))

max:  7
min:  1

In [98]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [100]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [102]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

## 61-70

In [104]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [105]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [108]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2]) #시작점을 바꿔준다

[2, 4, 6, 8, 10]

In [110]:
#64
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums
#혹은 print(nums[::-1])

[5, 4, 3, 2, 1]

In [112]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [113]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))
#join: 특정 구분자 통해 하나의 문자열로 합침 > 공백을 구분자로

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [114]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [115]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [116]:
#69
string = "삼성전자/LG전자/Naver"
interest=string.split('/') #특정 구분자 기준으로 스플릿
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [119]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## 71-80

In [120]:
#71
my_variable=()

In [121]:
#72
movie_rank=('닥터 스트레인지', '스플릿', '럭키')

In [123]:
#73
new_tuple=(1, ) #하나의 데이터만 튜플을 통해 저장할 경우 쉼표 입력!

#74
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

튜플은 원소를 변경할 수 없음

In [125]:
#75
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [126]:
#76
t = ('a', 'b', 'c')
t=('A','B','C')
print(t)

('A', 'B', 'C')

In [128]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data=list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [129]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [130]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp #a,b,c에 각각 튜플의 문자열 할당
print(a, b, c)

apple banana cake

In [131]:
#80
data=tuple(range(2,100,2)) 
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 81-90

In [133]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_=scores #별 표현식
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [134]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [135]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [136]:
#84
temp ={}

In [137]:
#85
data={'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [138]:
#86
data={'메로나':1000, '폴라포':1200, '빵빠레':1800}
data['죠스바']=1200
data['월드콘']=1500
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [145]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice['메로나'])

메로나 가격:  1000

In [146]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [147]:
#88
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

#90
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

누가바에 대한 키가 딕셔너리에없기 때문에 에러가 생긴다.

## 91-100

In [148]:
#91
inventory={'메로나':[300,20], '비비빅':[400,3], '죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [149]:
#92
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0], '원') #0은 리스트의 첫번째 원소

300 원

In [150]:
#93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1], '개')

20 개

In [152]:
#94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [153]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [154]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [156]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
판매금액=icecream.values()
print(sum(판매금액))

6700

In [157]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product) #update 메서드
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [161]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result=dict(zip(keys,vals)) # zip() : 순서대로 짝을 지어줌, dict()딕셔너리 변환
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [162]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table=dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}